<header>
    <h1>
        Doações e Voluntáriado
    </h1>
    <nav>
        <a href="#">Início</a>
        <a href="#">Sobre</a>
        <a href="#">Como Funciona</a>
        <a href="#">Contato</a>
    </nav>
</header>

<div class="container">
    <h2>Bem-vindo ao site de Doações e Voluntáriado</h2>
    <a href="#" class="button">Cadastrar ONG</a>


    <div class="search-section">
        <input type="text" placeholder="Buscar ONGs">
        <div class="search-filters">
            <select>
                <option>Categoria</option>
            </select>
            <select>
                <option>Todas</option>
            </select>
            <select>
                <option>Relevância</option>
            </select>
        </div>
    </div>

    <div class="ong-cards">
        <div class="card">
            <img src="#" alt="ONG 1">
            <h3>Saúde</h3>
            <p>Apoio a pacientes e suas familias</p>
        </div>

        <div class="card">
            <img src="#" alt="ONG 1">
            <h3>Educação</h3>
            <p>Apoio a programas e iniciativas educacionais</p>
        </div>

        <div class="card">
            <img src="#" alt="ONG 1">
            <h3>Meio Ambiente</h3>
            <p>Projetos para a conservação do meio ambiente</p>
        </div>
    </div>
</div>

<h2 class="title">
    Locais de Apoio
</h2>
<div class="map">
    mapa
</div>

<h2 class="title">
    Como Funciona
</h2>